<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:find finderName="ByOwner" id="ff_challenges_domain_Challenge" path="/challenges" z="Wb3L4/gH46YMgQDHOmh7GLjr5CA=">
        <field:select disableFormBinding="true" field="owner" id="f_challenges_domain_Challenge_owner" itemValue="id" items="${challengers}" path="/challengers" required="true" z="THutD5NfQM+0vCL1MC9ENl4MIIk="/>
    </form:find>
</div>
