<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_challenges_domain_Challenger" items="${challengers}" z="7+kynNotjnYKhIEanuySuF4T3GY=">
        <table:table data="${challengers}" id="l_challenges_domain_Challenger" path="/challengers" z="PmWcase+Zi9X680VPkMwiDZcz5I=">
            <table:column id="c_challenges_domain_Challenger_email" property="email" z="LEIddwXNqg1Z2KjRakmsWYX9+Js="/>
            <table:column id="c_challenges_domain_Challenger_password" property="password" z="+RbkZPkUaDaSxybiLOHVmgqY8io="/>
            <table:column id="c_challenges_domain_Challenger_challenges" property="challenges" z="guII8lTI+3BsKwHzHoPzObHq2kQ="/>
            <table:column id="c_challenges_domain_Challenger_friends" property="friends" z="yPmmQ7LvZayv8RMg0wHTZS9tPl0="/>
        </table:table>
    </page:list>
</div>
