<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_challenges_domain_MetricGoal" modelAttribute="metricGoal" path="/metricgoals" versionField="Version" z="GKlMhIuxJZekSp9jGuyMVo71MC0=">
        <field:input field="limit" id="c_challenges_domain_MetricGoal_limit" required="true" validationMessageCode="field_invalid_number" z="QsmIGAgqgSYwJC13PFIm1p8VpzI="/>
        <field:input field="description" id="c_challenges_domain_MetricGoal_description" min="2" required="true" z="iqYnpnu+Q8zwL8J2xQbrbPm7x04="/>
        <field:select field="goal" id="c_challenges_domain_MetricGoal_goal" itemValue="id" items="${goals}" path="/goals" required="true" z="shHy14FqMlYqUBykh+eaKYdbZXw="/>
    </form:update>
</div>
