<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_challenges_domain_MetricGoalStatus" modelAttribute="metricGoalStatus" path="/metricgoalstatuses" render="${empty dependencies}" z="BtxzP+FwGsHbz87juG0QL5qUNw4=">
        <field:input field="limit_status" id="c_challenges_domain_MetricGoalStatus_limit_status" validationMessageCode="field_invalid_number" z="hUyK+Tr2Cp/KxaAkHhAEiMertDw="/>
        <field:select field="goalStatus" id="c_challenges_domain_MetricGoalStatus_goalStatus" itemValue="id" items="${goalstatuses}" path="/goalstatuses" required="true" z="ux3qsw1EdV2Y1OGBo+OC1OoGJO8="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_challenges_domain_MetricGoalStatus" render="${not empty dependencies}" z="LxZ2g9ehbk9wgQhWCayQ9Hwa0rU="/>
</div>
