<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_challenges_domain_GoalStatus" modelAttribute="goalStatus" path="/goalstatuses" versionField="Version" z="skC1yjcCxws4aMTgxPbU9ZoXPCA=">
        <field:select field="status" id="c_challenges_domain_GoalStatus_status" items="${goalstatuseses}" path="goalstatuseses" z="omohrCz06p48Xi78bzNaRFcwUKg="/>
        <field:select field="goal" id="c_challenges_domain_GoalStatus_goal" itemValue="id" items="${goals}" path="/goals" required="true" z="IXFp1xcVn9+eGSNBQ+ETMdRP9zo="/>
        <field:select field="metric" id="c_challenges_domain_GoalStatus_metric" itemValue="id" items="${metricgoalstatuses}" path="/metricgoalstatuses" z="vDBKztk6bY8nMPooBNJJQyCpEy4="/>
        <field:select field="challenger" id="c_challenges_domain_GoalStatus_challenger" itemValue="id" items="${challengers}" path="/challengers" required="true" z="D+GRXajqoimGtjeKE2Fl2AxmO4A="/>
    </form:update>
</div>
