<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:menu="urn:jsptagdir:/WEB-INF/tags/menu" id="menu" version="2.0"
	xmlns:sec="http://www.springframework.org/security/tags">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	<menu:menu id="_menu" z="nZaf43BjUg1iM0v70HJVEsXDopc=">
		<menu:category id="c_challenger" z="ZEqiWpKr5zoInq7gRbU6wAAGL7k=">
			<sec:authorize ifAnyGranted="ROLE_ANONYMOUS,ROLE_ADMIN">
				<menu:item id="i_challenger_new" messageCode="global_menu_new"
					url="/challengers?form" z="C8bksAcx/Z/to2gMXLmGBEOivWQ=" />
			</sec:authorize>
			<sec:authorize ifAllGranted="ROLE_ADMIN">
				<menu:item id="i_challenger_list" messageCode="global_menu_list"
					url="/challengers?page=1&amp;size=${empty param.size ? 10 : param.size}"
					z="hV7T3eBkHIWsO5ycjfTEF9JntgU=" />
			</sec:authorize>
			<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_USER">
				<menu:item id="fi_challenger_emailequals"
					messageCode="global_menu_find"
					url="/challengers?find=ByEmailEquals&amp;form"
					z="2j0hqM0fFbmYQjg4AWzGygeQ6UE=" />
			</sec:authorize>
		</menu:category>
		<sec:authorize ifAnyGranted="ROLE_USER,ROLE_ADMIN">
			<menu:category id="c_goal" z="ZGg6S94nj2yOTfEjpUU31l6c1d0=">
				<menu:item id="i_goal_new" messageCode="global_menu_new"
					url="/goals?form" z="ZscBQkzR927MS40xerMiIiIo7tc=" />
				<menu:item id="i_goal_list" messageCode="global_menu_list"
					url="/goals?page=1&amp;size=${empty param.size ? 10 : param.size}"
					z="aqKrCDpjMBCc3W4H9uVhqHNoUQc=" />
			</menu:category>
			<menu:category id="c_metricgoalstatus"
				z="qIUTu0U8mDKIYZ8fzXkXQ2oy4Ag=">
				<menu:item id="i_metricgoalstatus_new" messageCode="global_menu_new"
					url="/metricgoalstatuses?form" z="GDP4fFn3z6DJCxzyy/3lKKrgmoo=" />
				<menu:item id="i_metricgoalstatus_list"
					messageCode="global_menu_list"
					url="/metricgoalstatuses?page=1&amp;size=${empty param.size ? 10 : param.size}"
					z="YK6kqHQevH8mT876nFFaSOq81G8=" />
			</menu:category>
			<menu:category id="c_metricgoal" z="3Bl8fDflQR4X9EuHlmX0BHno41Y=">
				<menu:item id="i_metricgoal_new" messageCode="global_menu_new"
					url="/metricgoals?form" z="4RjfkifF8yLAzAup/W5KgBLlgcQ=" />
				<menu:item id="i_metricgoal_list" messageCode="global_menu_list"
					url="/metricgoals?page=1&amp;size=${empty param.size ? 10 : param.size}"
					z="YXqDlO8IBWArYzElcJmyF5P3d90=" />
			</menu:category>
			<menu:category id="c_goalstatus" z="2Y/jECB9g2wQSpe9uEleBKsnriw=">
				<menu:item id="i_goalstatus_new" messageCode="global_menu_new"
					url="/goalstatuses?form" z="A6o5xzj7XPK9/h/fjlSoAamO7C4=" />
				<menu:item id="i_goalstatus_list" messageCode="global_menu_list"
					url="/goalstatuses?page=1&amp;size=${empty param.size ? 10 : param.size}"
					z="4Me0tI8EE8PzT8lmBzuGkyhhGQI=" />
				<sec:authorize ifAllGranted="ROLE_ADMIN">
					<menu:item id="fi_goalstatus_challenger"
						messageCode="global_menu_find"
						url="/goalstatuses?find=ByChallenger&amp;form"
						z="8ZkGpymuTjJxaT+Re4dICzdEzX8=" />

					<menu:item id="fi_goalstatus_goal" messageCode="global_menu_find"
						url="/goalstatuses?find=ByGoal&amp;form"
						z="XkRiJ/AUK7BH/joFIMIZ7D20Ljk=" />
				</sec:authorize>
			</menu:category>
			<menu:category id="c_challenge" z="WwtPos1+dPGo/hSL5I+WXR0orJ8=">
				<menu:item id="i_challenge_new" messageCode="global_menu_new"
					url="/challenges?form" z="oN1rSqB466vFXaUaeHYLJE3ISEg=" />
				<menu:item id="i_challenge_list" messageCode="global_menu_list"
					url="/challenges?page=1&amp;size=${empty param.size ? 10 : param.size}"
					z="JuvLtN3cfBfSg/4TBW/W6Hg5+LE=" />
				<sec:authorize ifAllGranted="ROLE_ADMIN">
					<menu:item id="fi_challenge_owner" messageCode="global_menu_find"
						url="/challenges?find=ByOwner&amp;form"
						z="S8RccSRsbNF2n5BufnW+nj/vjuE=" />
				</sec:authorize>
			</menu:category>
		</sec:authorize>
	</menu:menu>
</div>
